/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$color-yellow:#f8de1c;
$color-black:#000000;
$table_head:#3c3c3c;
$color-white:#ffffff;
/*-------///////---------font-family-------///////------*/

$font-montserrat-regular: montserrat-regular;
$font-montserrat-light: montserrat-light;
$font-montserrat-ultralight: montserrat-ultralight;
$font-raleway-bold: raleway-bold;
$font-raleway-regular: raleway-regular;
$font-roboto-light: roboto-light;
$font-roboto-medium: roboto-medium;
$font-roboto-regular: roboto-regular;
$font-sharp-sans: sharp-sans;
/*-------///////---------font-family end-------///////------*/
/*-------///////---------font-color-------///////------*/
$color-black: #000000;
$table_head: #3c3c3c;
$color-white: #ffffff;
$color-gray-dark: #9b9b9b;
$grayBg_color: #ececec;
$color-red: #f00;
$light-yellow: #f7e459;
/*-------///////---------font-color end-------///////------*/

/*-------///////---------font-size-------///////------*/
$font13: 13px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font28: 28px;
$font30: 30px;
$font36: 36px;

