extends ../../layouts/default

block content
  h1 Please verify your email address
  br
  p Dear #{model.name}
  p Please click on the link below to reset your password.
  br
  a(href="#{model.verifyLink}", target="_blank") Click here
  br
  p Or copy this link
  br
  strong #{model.verifyLink}
